<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/about.css">
    <script src="../Javascript/about.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="../../server.js"></script>
    <title>AboutUs</title>
</head>
<body>
    <header>
        <div class="container">

            <a href="/home"><img src="../Images/piperLogo.png" id="home" onclick="goHome()" alt="Logo" /></a>

        </div>
    </header>
    <main class = "aboutUs" >
        <div class="founders">
            <div class="founder">
              <img src="../Images/Duarte.jpg" class="founder-img">
              <h2>Duarte Rodrigues</h2>
              <h3>duarte.m.rodrigues@sapo.pt</h3>
              <h3>nº 30009658</h3>
              <label class="founder-info">
                Full stack Developer
              </label>
            </div>
          
            <div class="founder">
              <img src="../Images/Jorge.jpg" class="founder-img">
              <h2>Jorge Chaves</h2>
              <h3>jonelchaves@iCloud.com</h3>
              <h3>nº 30008541</h3>
              <label class="founder-info">
                Full stack Developer
              </label>
            </div>
          
            <div class="founder">
              <img src="../Images/Sergio.jpg" class="founder-img">
              <h2>Sérgio Balduino </h2>
              <h3>sergiobalduino72@gmail.com</h3>
              <h3>nº 20141222</h3>
              <label class="founder-info">
                Front end Developer
              </label>
            </div>
          </div>          
    </main>
    <footer class="footer-container">
      <div class="footer-content">
          <span id = "about-us"class="material-symbols-outlined">groups</span> 
      </div>
    </footer>
</body>
</html>