<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">~
    <link rel="stylesheet" href="../Styles/entry.css">
    <script src="../Javascript/entry.js"></script>
    <title>Login</title>
</head>
<body>
    <header class="header-container">
        <div class="header-content">
            <ul>
                <button onclick="goHome()" href="#">Home</button>
                <button onclick="post()" href="#">Post</button>
                <button onclick="signin()" href="#">Signup</button>
                <button onclick="login()" href="#">Login</button>
                <button onclick="editProfile()" href="#">Edit Profile</button>
            </ul>
        </div>
    </header>


<!-- Login From -->
    <section id="login">
        <h2>Login</h>
        <form id="loginFrom">

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" id="subjectName" required>
                <!-- <label for="error" class="form-error-message" id="error-subjects">Please try again.</label> -->
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" id="subjectName" required>
                <!-- <label for="error" class="form-error-message" id="error-subjects">Please try again.</label> -->
            </div>
            <div class="nav-links">
                <a href="#" onclick="showForm('recover')">Forgot the Password?</a>
            </div>
            <button type="submit"  class="btn">Login</button>
        </form>
        <button class="btn"onclick="showForm('signin')">New Account</button>
    </section>


<!-- Signin From -->

<section id="signin">
    <h2>Sign In</h>
    <form id="sighinFrom">

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" id="subjectName" required>
            <!-- <label for="error" class="form-error-message" id="error-subjects">Please try again.</label> -->
        </div>

        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" id="subjectName" required>
            <!-- <label for="error" class="form-error-message" id="error-subjects">Please try again.</label> -->
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" id="subjectName" required>
            <!-- <label for="error" class="form-error-message" id="error-subjects">Please try again.</label> -->
        </div>
        
        <button type="submit" class="btn">Register</button>
    </form>
</section>



<!-- Recover From -->
<section id="recover">
    <h2>Recover</h>
    <form id="recoverFrom">

        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" id="subjectName" required>
            <!-- <label for="error" class="form-error-message" id="error-subjects">Please try again.</label> -->
        </div>
        
        <button type="submit" onclick="showForm('login')" class="btn">Recover</button>
    </form>
</section>


<footer class="footer-container">
    <div class="footer-content">
        <p>Duarte Rodrigues - 30009658</p> 
        <p>Jorge Chaves - 30008541 </p>
    </div>
</footer>
</body>
</html>