<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">~
    <link rel="stylesheet" href="../Styles/entry.css">
    <link rel="stylesheet" href="../Javascript/about.js">
    <script src="../Javascript/entry.js"></script>
    <title>Entry</title>
</head>
<body>
    <section class= "entry-section">
        <h2>Login</h>
            <form action="http://localhost:8888/login" method="post">
                <input type="text" name="username" id="username" placeholder="Username" required>
                <input type="password" name="password" id="password" placeholder="Senha" required>
                <button id="loginBtn">Login</button>
                </div>
                <div class="nav-links">
                    <button class="btn" onclick="signup('signup')">New Account</button>
                </div>
            </form>
        </form>
    </section>
    <header class="header-container">
        <div class="header-content">
            <ul>
                <img src="../Images/logo.png" id="home" onclick="goHome()" alt="Logo" />
            </ul>
        </div>
    </header>
    <hr>
    <footer class="footer-container">
        <div class="footer-content">
            <h1 onclick="aboutUs()">About Us</h1> 
        </div>
    </footer>
</body>
</html>


