<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">~
    <link rel="stylesheet" href="../Styles/entry.css">
    <script src="../Javascript/entry.js"></script>
    <title>Entry</title>
</head>
<body>
    <section>
        <h2>Login</h>
            <form action="http://localhost:8888/login" method="post">
                <input type="text" name="username" id="username" placeholder="Username">
                <input type="password" name="password" id="password" placeholder="Senha">
                <button type="submit">Login</button>
                <div class="nav-links">
                    <a href="#" onclick="showForm('recover')">Forgot the Password?</a>
                    <button class="btn"onclick="showForm('signup')">New Account</button>
                </div>
            </form>
        </form>
    </section>
    <header class="header-container">
        <div class="header-content">
            <ul>
                <button onclick="signup()" href="#">Signup</button>
            </ul>
        </div>
    </header>
    <hr>
<footer class="footer-container">
    <div class="footer-content">
        <p>Duarte Rodrigues - 30009658</p> 
        <p>Jorge Chaves - 30008541 </p>
    </div>
</footer>
</body>
</html>


