<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/style.css">
    <!-- <link rel="stylesheet" href="../Styles/popupLogout.css"> -->

    <script type = "module" src="../Javascript/home.js"></script>
    <script src="../../server.js"></script>
    <title>Home</title>
</head>
<body class="container">
    <header>
        <img src="../Images/logo.png" id="home" onclick="goHome()" alt="Logo" />
        <nav>
            <div class="hearder-nav">
                <ul>
                    <li><a href="#Notifications">Notifications</a></li>
                    <li><a href="#Blog">Blog</a></li>
                </ul>
                <button class="postBtn" onclick="post('post')">Post</button>
            </div>

            <script src="../Javascript/home.js"></script>

            <div class="user">
                <img src="../Images/licensed-image.jpeg" alt="">

                <h3>Name Surname</h3>
                <h4>@User</h1>

                <button id="openPopupBtn">...</button>
            </div>
 
            <!-- Pop-up container -->
            <div id="popup" class="popup">
                <div class="popup-content">
                <span class="close" id="closePopupBtn">&times;</span>
                <button id="logoutBtn">Logout</button>
                <button id="profileBtn">View Profile</button>
                </div>
            </div>


            <script src="../Javascript/logout.js"></script>

            
        </nav>
    </header>
    <section>
    </section>
    <aside>
        <div class="search-bar">
            <input type="text" placeholder="Search..." onkeyup="filterFunction()"/>
        </div>
        <footer class="footer-container">
            <div class="footer-content">
                <h1 onclick="aboutUs()">About Us</h1> 
            </div>
        </footer>
    </aside>
</body>
</html>