<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Styles/style.css">
    <script src=" ../Javascript/post.js"></script>
    <title>Post</title>
</head>
<body>
    <header class="header-container">
        <div class="header-content">
            <ul id="home">
                <img src="../Images/logo.png" id="home" onclick="goHome()" href="#"></img>
                <img src="../Images/user-profile.png" ondblclick="editProfile()" id="user-profile" onclick="goHome()" href="#"></img>
                <label name = "user" id ="userName">test</label>
            </ul>
            <div id="hamburger-menu">
                <button id="dropMenu" onclick="showMenu('.nav-responsive-container')">&#9776;</button> 

                <ul class="nav"> 
                    <button onclick="post()">Post</button>

                    <button onclick="signin()">Sign in</button>
                    <button onclick="login()">Login</button>
                    <button id="signout">Signout</button>
                </ul> 

                <ul class="nav-responsive">
                    <div class = "nav-responsive-container">
                        <ul><button onclick="post()">Post</button></ul>
                        <ul><button onclick="signin()">Sign in</button></ul>
                        <ul><button onclick="login()">Login</button></ul>
                        <ul><button onclick="editProfile()">Profile</button></ul>                    
                        <ul><button id="signout">Signout</button></ul>
                    </div>
                </ul>

            </div>
        </div>
    </header>


<!-- Post From -->
    <section class = "entry-section" id="createPost">
        <h2>New Post</h>
        <form action="http://localhost:8888/post" id="post-form" method="post">

        <input id = "input-user"name = "username" style="display: none;">


        <div class="form-group" id="titleDiv">
            <input type="text" name="title" class="form-control" placeholder="Title" id="postTitle" required>
        </div>

        <div class="form-group">
            <input type= "text" class="form-control" id="postContent" name="content" required></input>
        </div>

        <button type="submit" id="createBtn">Create Post</button>
        </form>
    </section>

<footer class="footer-container">
    <div class="footer-content">
        <p>Duarte Rodrigues - 30009658</p> 
        <p>Jorge Chaves - 30008541 </p>
    </div>
</footer>

</body>
</html>