<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Styles/post.css">
    <script src=" ../Javascript/post.js"></script>
    <title>Post</title>
</head>
<body>
    <header class="header-container">
        <div class="header-content">
            <ul>
                <button onclick="goHome()" href="#">Home</button>
                <button onclick="post()" href="#">Post</button>
                <button onclick="signin()" href="#">Signup</button>
                <button onclick="login()" href="#">Login</button>
                <button onclick="editProfile()" href="#">Edit Profile</button>
            </ul>
        </div>
    </header>


<!-- Post From -->
    <section id="createPost">
        <h2>New Post</h>
        <form method="POST" action="/" id="loginFrom">

        <div class="form-group" id="titleDiv">
            <input type="text" class="form-control" placeholder="Title" id="postTitle" name="title" required>
            <!-- <label for="error" class="form-error-message" id="error-subjects">Please try again.</label> -->
        </div>

        <div class="form-group">
            <textarea class="form-control" id="postContent" name="content" required></textarea>
        </div>

        <button id="createBtn">Create Post</button>
        </form>
    </section>

<footer class="footer-container">
    <div class="footer-content">
        <p>Duarte Rodrigues - 30009658</p> 
        <p>Jorge Chaves - 30008541 </p>
    </div>
</footer>

</body>
</html>