<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">~
    <link rel="stylesheet" href="../Styles/entry.css">
    <script src="../Javascript/entry.js"></script>
    <title>Entry</title>
</head>
<body>
    <section>
        <h2>Recover</h>
            <form action="http://localhost:8888/recover" method="post">
                <input type="email" name="email" id="email" placeholder="Email">
                <button type="submit">Recover</button>
            </form>
    </section>
    <header class="header-container">
        <div class="header-content">
            <ul>
                <button onclick="signup()" href="#">Signup</button>
                <button onclick="login()" href="#">Login</button>
            </ul>
        </div>
    </header>
    <hr>
<footer class="footer-container">
    <div class="footer-content">
        <p>Duarte Rodrigues - 30009658</p> 
        <p>Jorge Chaves - 30008541 </p>
    </div>
</footer>
</body>
</html>