<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">~
    <link rel="stylesheet" href="../Styles/entry.css">
    <script src="../Javascript/entry.js"></script>
    <title>Entry</title>
</head>
<body>
    <header class="header-container">
        <div class="header-content">
            <ul>
                <button onclick="login()" href="#">Login</button>
            </ul>
            <ul>
                <input type="text" name = "username"></input>
            </ul>
        </div>
    </header>

    <section>
        <h2>Signup</h>  
            <form action="http://localhost:8888/signup" method="post">
                <input type="text" name="username" id="username" placeholder="Username">
                <input type="password" name="password" id="password" placeholder="Senha">
                <input type="email" name="email" id="email" placeholder="Email">
                <button type="submit">Signup</button>
            </form>
        </form>
    </section>
<hr>
<footer class="footer-container">
    <div class="footer-content">
        <p>Duarte Rodrigues - 30009658</p> 
        <p>Jorge Chaves - 30008541 </p>
    </div>
</footer>
</body>
</html>