body{
    background-image: url('../Images/background.png');
    flex-direction: column;
    min-height: 100vh; 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Três colunas com larguras proporcionais */  
    color: white;
}

.nav{
  transition: top 0.3s ease;
}

header{
  /* background-color: black;
  opacity: 0.5; */
    grid-column: 1 / 2; /* Primeira coluna */
    /* border-right: 1px solid #9AA0A6;  */
}

.hearder-buttons{
    display: block;
}

.user{
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    background-color: rgb(46, 44, 44);
    border-radius: 15px;
    border: black;
    max-width: 300px;
    align-items: center;
    justify-content: space-around;
}

.user.follow {
  position: fixed;
  transition: margin-top 0.3s ease; /* Add smooth transition for better visual effect */
}

.user img{
    width: 40px;
    border-radius: 50px;
    height: 40px;
}

.user button{
    text-align: center; /* Centralizar o texto no botão */
}

.post{
    background-color:dimgrey;
    border-radius: 10px;
    width:100%;
  }
  
 .post-content{
    background:none;
    /* border: none; */
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    resize: none;
    width: 95%;
    font-size: x-large;
    overflow: hidden;
    height: 69px;
} 

.post-content:focus {
  outline: none;
}

.post-info-div{
    height: 55px;
}

.post-content-div{
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.post-engagment-div{
    height: 55px;
}

.post-user{
    background:none;
    /* border: none; */
    color: white;
    resize: none;
    border-radius: 10px;
    font-size: xx-large;
    margin-top: 10px;
    margin-left: 2%;
    float: left;
    width: 30%;
    height: 35px;
    overflow: hidden;
  }

  .post-user:focus {
    outline: none;
 }
  
  .post-title{ 
    background:none;
    /* border: none; */
    color: white;
    resize: none;
    border-radius: 10px;
    font-size: x-large;
    margin-top: 5px;
    margin-right: 2%;
    float: right;
    width: 64%;
  }
  .post-title:focus {
    outline: none;
 }
    
  .post-engagment{
    -webkit-user-drag: none;
    margin-top: 7px;
    background: none;
    border: none;
    font-size: xx-large;
    border-radius: 10px;
    float: right;
    resize: none;
    text-align: center;
    margin-right: 15px;
    width:35px;
    color: black;
  }

  .post-up{
    -webkit-user-drag: none;
    user-select: none;
    margin-top: 7px;
    background: none;
    border: none;
    font-size: xx-large;
    border-radius: 10px;
    float: right;
    resize: none;
    text-align: center;
    cursor: pointer;
  }

  .post-down{
    -webkit-user-drag: none;
    margin-top: 7px;
    background: none;
    border: none;
    font-size: xx-large;
    border-radius: 10px;
    float: right;
    resize: none;
    text-align: center;
    cursor:pointer
  }

  .post-comments{
    -webkit-user-drag: none;
    margin-top: 7px;
    background: none;
    border: none;
    font-size: xx-large;
    border-radius: 10px;
    float: left;
    resize: none;
    text-align: center;
    margin-right: 15px;
    width:40px;
    color: black;
  }

  .post-comments-img{
    -webkit-user-drag: none;
    margin-top: 7px;
    margin-left: 2%;
    background: none;
    border: none;
    font-size: xx-large;
    border-radius: 10px;
    float: left;
    resize: none;
    text-align: center;
    cursor:pointer
  }

  
  .user-profile{
    margin-top: 20px;
    background-color: white;
    border-radius: 100%;
  }
  
  #username{
    font-size: larger;
  }
  
  .post-engagment-img{
    float: right;
  }
  

.user img{
    width: 40px;
    border-radius: 50px;
    height: 40px;
}

.user button{
    text-align: center; /* Centralizar o texto no botão */
}

section{
    grid-column: 2 / 3; /* Segunda coluna */
    /* border-right: 1px solid #9AA0A6; */
}


aside{
    grid-column: 3 / 4; /* Terceira coluna */
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    margin-top: auto;
    display: block;
    justify-content: center;
    text-align: center;
    background-color: rgb(46, 44, 44);
}

.footer-content {
    color: white;
    cursor: pointer;
  }

  /* Screen adjustment */
  @media only screen and (max-width: 1215px) {

        .post{
            width: 100;
            height: fit-content;
          }
  
          .post-info-div{
              background-color: none;
          }
          
          .post-user{
              margin-left: 35%;
              z-index: 1;
          }
          .post-title{
            width: 95%;
            margin-bottom: 5px;
            z-index: 2;
          }
  
          .post-engagment{
              width: 10%;
          }
  
          .post-comments{
              width: 10%;
          }
    }

    @media only screen and (max-width: 800px) {

        body{
            grid-template-columns:none
        }

       .about-section{
        padding: 20px;
        border: hidden;
        border-radius: 5px;
        margin-top: 70px;
        margin-bottom: 80px;
        width: 500px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center; 
        font-family: arial;
       }

       aside{
        border-left: none;
        display: none;
       }

       header{
        border-right: none;
        display: none;
       }

        .nav{
          display: none;
        }

        section{
            border-right: none;
        }
        .nav-responsive-container{
          background-color: lightblue;
          display: none;
          width: 200px;
          text-align: center;
        }
      
        .nav-responsive-container button{
          font-size: xx-large;
          color: black;
          display: flex;
          margin-left: auto;
          margin-right: auto;
          
        }
        
        .post{
          width: 100%;
          height: fit-content;
        }

        .post-info-div{
            background-color: none;
        }
        
        .post-user{
            margin-left: 35%;
            z-index: 1;
        }
        .post-title{
            z-index: 2;
        }

        .post-engagment{
            width: 5%;
        }

        .post-comments{
            width: 5%;
        }
    }