body{
  background-image: url('../Images/background.png');
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  padding: 20px;
  border: hidden;
  border-radius: 5px;
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
}

button{
  border-radius: 5px;
  font-size: large;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

button:hover{
  background-color: lightgray;
  color: black;
  -webkit-transition: background-color 100ms linear;
  -webkit-transition: color 100ms linear;
}

img{
  cursor: pointer;
}

h2{
  color: white;
  text-align: center;
}

h3{
  color: white;
}

a{
  font-size: small;
  color: blue;
}

#login{
  background-color: gray;
}

#signin{
  display: none;
  background-color: gray;
}

#recover{
  display: none;
  background-color: gray;
}

#home{
  float:left
}

#signout{
  color: red;
}

#dropMenu{
  margin-top: 30px;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  margin-right: 5vw;
  display: none;
}

#dropMenu:hover{
  background-color: lightgray;
  color: black;
  -webkit-transition: background-color 100ms linear;
  -webkit-transition: color 200ms linear;
}

.nav{
  margin-top: 30px;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}

.nav-responsive{
  display: none;
  margin-top: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4vh;
  margin-right: 10vw;
}

.footer-container{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  margin-top: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(46, 44, 44);
}

.footer-content {
  color: white;
}

.header-container{
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgb(46, 44, 44);
}

.header-content {
  color: white;
}

@media only screen and (max-width: 600px) {

  .nav{
    display: none;
  }

  .nav-responsive{
    display: none;
  }

  #dropMenu{
    display: block;
  }
}
