* {
  box-sizing: border-box;
}

body{
  background-image: url('../Images/PiperBackground.png');
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; /* Garante que o conteúdo estenda a altura mínima da viewport */
  bottom: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

#home{
  height: 120px;
}

h2{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 80%;
  border-radius: 10px;
  background-color: #797D7B;
}


/*Container*/
.container{
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #797D7B;
  margin: 0px;
}

#logoutBtn{
  border-radius: 10px;
  background-color: red;
  color: white;
}

.container ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: auto;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end; /* Ajuste para flex-end para alinhar à direita */
}

.container a{
  text-decoration: none;
  color: black;
}

.container img{
  padding-left: 50px;
}

.search-bar{
  margin-left: 440px;
  position: relative;
  outline: none;
}


/*--------------------------*/
.content{
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Três colunas com larguras proporcionais */  
}

.user{
  color: white;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  background-color:#797D7B;
  border-radius: 15px;
  border: black;
  margin-top: 80vh; /* Ajuste conforme necessário */
  margin-left: 5%;
  max-width: 300px;
  align-items: center;
  justify-content: space-around;
}

.user-container{
  grid-column: 1 / 2; /* Primeira coluna */
  border-right: 1px solid black; 
  padding-top: 30px;
}
/* ########################## */
h2{
  color: white;
  text-align: center;
}

h3{
  color: white;
}

a{
  font-size: small;
  color: blue;
}
#createPost{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Adjust the height as needed */
  
}

#titleDiv{
  align-items: start;
}

#postTitle{
  font-size: large;
  border-radius: 8px;
  align-content: start;
}

#postContent{
  font-size: large;
  border-radius: 18px;
  width: 100%;
  height: 200px;
  resize: none;
}

#createBtn{
  border: none;
  border-radius: 18px;
  font-size: large;
  width: 40%;
  height: 50px;
  transition: 0.2s ease-out;
}

#createBtn:hover{
  background-color: lightblue;
}

/* ########################## */

.user.follow {
position: fixed;
transition: margin-top 0.3s ease; /* Add smooth transition for better visual effect */
}


#about-us{
  font-size: 50px;
  cursor: pointer;
  width: 60px;
  background-color: lightgray;
  border-radius: 30px;
}
  
section{
    grid-column: 2 / 3; /* Segunda coluna */
}

aside{
    grid-column: 3 / 4; /* Terceira coluna */
    height: 100vh;
    border-left: 1px solid black; 
}

.footer-container{
  position: fixed;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  margin-top: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #797D7B;
}


.footer-content {
    color: black;
    cursor: pointer;
  }


    @media only screen and (max-width: 800px) {

        body{
            grid-template-columns:none
        }

       .about-section{
        padding: 20px;
        border: hidden;
        border-radius: 5px;
        margin-top: 70px;
        margin-bottom: 80px;
        width: 500px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center; 
        font-family: arial;
       }

       aside{
        border-left: none;
        display: none;
       }

       header{
        border-right: none;
        display: none;
       }

        .nav{
          display: none;
        }

        section{
            border-right: none;
        }
        .nav-responsive-container{
          background-color: lightblue;
          display: none;
          width: 200px;
          text-align: center;
        }
      
        .nav-responsive-container button{
          font-size: xx-large;
          color: black;
          display: flex;
          margin-left: auto;
          margin-right: auto;
          
        }
        
        .post{
          width: 100%;
          height: fit-content;
        }

        .post-info-div{
            background-color: none;
        }
        
        .post-user{
            margin-left: 35%;
            z-index: 1;
        }
        .post-title{
            z-index: 2;
        }

        .post-engagment{
            width: 5%;
        }

        .post-comments{
            width: 5%;
        }
    }

