body{
    background-image: url('/public/Images/background.png');
    flex-direction: column;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Três colunas com larguras proporcionais */  
    grid-column-gap: 50px;
    color: white;
}

header{
    grid-column: 1 / 2; /* Primeira coluna */
    border-right: 1px solid #9AA0A6; 
}
.hearder-buttons{
    display: block;
}

.user{
display: flex;
flex-wrap: wrap;
background-color: rgb(46, 44, 44);
border-radius: 15px;
margin-top: 160%;
border: black;
max-width: 300px;
align-items: center;
justify-content: space-around;
}

.user img{
    width: 40px;
    border-radius: 50px;
    height: 40px;
}

.user button{
    text-align: center; /* Centralizar o texto no botão */
}

section{
    grid-column: 2 / 3; /* Segunda coluna */
    border-right: 1px solid #9AA0A6;
}



#createPost{
    background-color: gray;
}

#titleDiv{
    align-items: start;
}

#postTitle{
    font-size: large;
    border-radius: 8px;
    align-content: start;
}

#postContent{
    font-size: large;
    border-radius: 18px;
    width: 100%;
    height: 200px;
    resize: none;
}

#createBtn{
    border: none;
    border-radius: 18px;
    font-size: large;
    width: 40%;
    height: 50px;
    transition: 0.2s ease-out;
}

#createBtn:hover{
    background-color: lightblue;
}

.post{
    width: 100vw;
    height: 550px;
  }

  #post-user{
    margin-top: 25px;
    font-size: xx-large;
    width: 35%;
    height: 30px;
  }

  #post-title{
    width: 58%;
    height: 70px;
  }

aside{
    grid-column: 3 / 4; /* Terceira coluna */
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    margin-top: auto;
    display: block;
    justify-content: center;
    text-align: center;
    background-color: rgb(46, 44, 44);
}

.footer-content {
    color: white;
  }

