body{
    background-image: url('../Images/background.png');
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    padding: 20px;
    border: hidden;
    border-radius: 10px;
    margin: auto;
    width: 500px;
  }

h2{
    color: white;
    text-align: center;
}

a{
    font-size: small;
    color: blue;
}

#createPost{
    background-color: gray;
}

#titleDiv{
    align-items: start;
}

#postTitle{
    font-size: large;
    border-radius: 8px;
    align-content: start;
}

#postContent{
    font-size: large;
    border-radius: 18px;
    width: 100%;
    height: 200px;
    resize: none;
}

#createBtn{
    border: none;
    border-radius: 18px;
    font-size: large;
    width: 40%;
    height: 50px;
    transition: 0.2s ease-out;
}

#createBtn:hover{
    background-color: lightblue;
}

.footer-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    margin-top: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(46, 44, 44);
}

.footer-content {
    color: white;
  }

.header-container{
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(46, 44, 44);
}

.header-content {
    color: white;
  }